
<!-- Pages -->
<li class="hs-has-sub-menu nav-item">
  <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='pages'){active}" href="#" role="button" aria-expanded="false">Categorie</a>
  <!-- Mega Menu -->
  <div class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 14rem;">
    <a class="dropdown-item @@if(link=='micromouse.html'){active}" href="@@autopath/micromouse.html">Micromouse</a>
    <a class="dropdown-item @@if(link=='line.html'){active}" href="@@autopath/line.html">Line</a>
    <a class="dropdown-item @@if(link=='faq.html'){active}" href="@@autopath/faq.html">FAQ</a>
  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Pages -->
<!-- Blog -->
<a class="nav-link d-inline-block" href="https://smartylab.it/who.html">Chi siamo</a>
<!-- End Blog -->

<!-- Portfolio -->
<a class="nav-link d-inline-block" href="https://smartylab.it">SmartyLab</a>
<!-- End Portfolio -->
<!-- Portfolio -->
<a class="nav-link d-inline-block" href="https://smartylab.it/contact">Contattaci</a>
<!-- End Portfolio -->